<%- include('../partials/header') %>

<form id="new-form" action="/tickets" method="POST">
  <label>seat:</label>
  <input name="seat" type="number">
  <label>Price:</label>
  <input name="label" type= "text">
  <label>Flight</label>
  <input type="number" name="flight number">
</form>
<button type=" submit" name="submit">submit</button>
<%- include('../partials/footer') %>