<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
  <label>Airline:</label>
  <select name="airline">
    <option value="American">American</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
  </select>
  <label>Airport:</label>
  <select name="airport" default="DEN">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label>Flight Number</label>
  <input type="number" name="flight number">
  <label>Depart Date:</label>
  <input type="datetime-local" default ="<%=function(){new Date(new Date().setFullYear(new Date().getFullYear() + 1))}%>">
</form>
<button type=" submit" name="submit">submit</button>
<%- include('../partials/footer') %>